html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  min-width: 1200px;
  font-family: 'font', sans-serif;
}

/* glob */

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section-title {
  margin: 0;
  margin-bottom: 40px;
}

.section-descr {
  margin: 0;
  margin-bottom: 50px;
}

.section-offset {
  padding-top: 87px;
  padding-bottom: 160px;
}

/* header */
.header {
  padding: 36px 0;
}

.header-container {
  align-items: center;
}

.header-logo {
  margin-right: auto;
}

.header-nav {
  margin-right: 52px;
}

.header-list-item:not(:last-child) {
  margin-right: 52px;
}
